.FormInput {
  height: 55px;
  &__text {
    color: red;
  }
}

input {
  width: 100%;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
}

.error {
  border-color: red;
}
